@tailwind base;
@tailwind components;
@tailwind utilities;

.Alive {
    background-color: green;
}
.Dead {
    background-color: red;
}
.unknown {
    background-color: yellow;
}
button:disabled {
    background: grey;
}